# MONGO_URI=mongodb+srv://akashKrsoni:Snsakash0200@cluster0.y2hyvcq.mongodb.net/eventoraDEV?retryWrites=true&w=majority&appName=Cluster0
MONGO_URI=mongodb+srv://admin:<db_password>@eventora.qbhcfhc.mongodb.net/?appName=Eventora
JWT_SECRET=supersecretjwtkey_eventora
EMAIL_USER=akashkrsoni0200@gmail.com
EMAIL_PASS=Snsakash@0200
PORT=5000

#  mongodb+srv://admin:<db_password>@eventora.qbhcfhc.mongodb.net/?appName=Eventora